.card {
  display: flex;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 15px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .card {
    justify-content: space-between;
    width: 30%;
  }
}

.card-img {
  width: 30%;
  margin-right: 10px;
}

.card-title {
  color: #475569;
  font-family: 'Roboto';
  font-size: 14px;
}

.card-amount {
  color: #475569;
  font-family: 'Roboto';
  font-size: 24px;
}

.green {
  background-color: #ecfccb;
  border: 1px solid #84cc16;
}

.blue {
  background-color: #cffafe;
  border: 1px solid #06b6d4;
}

.purple {
  background-color: #ede9fe;
  border: 1px solid #7c3aed;
}
